.text {
    font-family: "Courier New", monospace;
}

.heading {
    font-family: "Tahoma", sans-serif;
    text-align: center;
    background-color: rgb(200,100,200);
    color: rgb(224, 233, 224);
}

.heading.home {
    height: 200px;
    background-color: rgb(11, 111, 224);
}

.list.home {
    font-weight: bold;
}

.list {
    font-family: "Tahoma", sans-serif;
    background-color: rgb(224, 217, 217);
}

.image {
    width: 400px;
    height: auto;
}